<form action="/load/addseat/aff/{{ load_id }}" method="post" id="add_seat_form">
<div class="modal dialog"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" id="modal_dialog">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
								<h4 class="modal-title" id="myModalLabel">Sitzplatz einbuchen</h4>
							</div>
							<div class="modal-body center">
								<form action="/pages/loads.php?page=add_seat" method="post" id="add_seat_form">
								<input type="hidden" name="load_id" value="{$load_id}"/>
								<table class="table table-hover">
									<thead>
									<tr>
										<th></th>
										<th>Springer</th>
										<th>Vergütungen</th>
									</tr>
									</thead>
									<tbody>
										
										<tr>
											<td>Schüler</td>
											<td>
												<input type="text"  id="jumped_by"/>
												<input type="hidden" name="jumped_by" id="jumped_by_id" />
											</td>
											<td>
											</td>
										</tr>
										<tr>
											<td>Bezahlt durch</td>
											<td>
												<input type="text"  id="payed_by"/>
												<input type="hidden" name="payed_by" id="payed_by_id" />
											</td>
											<td>
											</td>
										</tr>
										<tr>
											<td>AFF-Lehrer 1</td>
											<td>
												<input type="text"  id="aff_1"/>
											</td>
											<td>
                                                <select name="salary_type_aff_1" id="salary_type_aff_1">
      
                                                </select>
												<input type="hidden" name="aff_1" id="aff_1_id" />
											</td>
										</tr>
										<tr>
											<td>AFF-Lehrer 2</td>
											<td>
												<input type="text"  id="aff_2"/>
											</td>
											<td>
												<select name="salary_type_aff_2" id="salary_type_aff_2">

												</select>
												<input type="hidden" name="aff_2" id="aff_2_id" />
											</td>
										</tr>
										<tr>
											<td>Videospringer</td>
											<td>
												<input type="text"  id="video"/>
											</td>
											<td>
                                                  <select name="seat_type_video" id="salary_type_video">
      
                                                </select>
												<input type="hidden" name="video" id="video_id" />
											</td>
										</tr>
                                        	<tr>
											<td>Sprungtyp</td>
											<td>

												<select  name="jumptype" id="jumptype" ></select>
											</td>
												<td>
												</td>
										</tr>
									</tbody>

								</table>
									
								
								</form>
							
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">Abbrechen</button>
								<button type="button" onclick="document.getElementById('add_seat_form').submit();" class="btn btn-primary">Übernehmen</button>
							</div>
						</div>
					</div>
				</div>
  </form>              
<script>

		var chosenJumper = "";
        var chosenAFF1 = "";
        var chosenAFF2 = "";
        var chosenJumptype;
        var chosenVideo;
		var chosenPayer = "";
        $( "#jumped_by" ).autocomplete({
		  source: availableUsers,
			minChars: 0,
		select: function (event, ui) {
		  $("#jumped_by").val(ui.item.label); 
          $("#jumped_by_id").val(ui.item.value);
          chosenJumper = ui.item.label;

            $("#payed_by").val(ui.item.label);
            $("#payed_by_id").val(ui.item.value);
            chosenPayer = ui.item.label;

		},
		close: function(event, ui){
          $('#jumped_by').val(chosenJumper);
			}
		
		}).focus(function(){
            $(this).val("");
            $(this).autocomplete("search",  " " );
        });;

        $( "#payed_by" ).autocomplete({
            source: availableJumpers,
            select: function (event, ui) {
                $("#payed_by").val(ui.item.label);
                $("#payed_by_id").val(ui.item.value);
                chosenPayer = ui.item.label;
            },
            close: function(event, ui){
                $('#payed_by').val(chosenPayer);
            }

        }).focus(function(){
            $(this).val("");
            $(this).autocomplete("search",  " " );
        });;


          $( "#aff_1" ).autocomplete({
		  source: qualifications['AFF'],
		select: function (event, ui) {
		  $("#aff_1").val(ui.item.label);
          $("#aff_1_id").val(ui.item.value);
          chosenAFF1 = ui.item.label;
		},
		close: function(event, ui){
          $('#aff_1').val(chosenAFF1);
			}
		
		}).focus(function(){
              $(this).val("");
              $(this).autocomplete("search",  " " );
          });;

        $( "#aff_2" ).autocomplete({
            source: qualifications['AFF'],
            select: function (event, ui) {
                $("#aff_2").val(ui.item.label);
                $("#aff_2_id").val(ui.item.value);
                chosenAFF2 = ui.item.label;
                $(this).trigger('change');
            },
            close: function(event, ui){
                $('#aff_2').val(chosenAFF2);
            }

        }).focus(function(){
            $(this).val("");
            $(this).autocomplete("search",  " " );
        });;


          $( "#video" ).autocomplete({
		  source: qualifications['Video'],
		select: function (event, ui) {
		  $("#video").val(ui.item.label); 
          $("#video_id").val(ui.item.value);
          chosenVideo = ui.item.label;
            $(this).trigger('change');
		},
		close: function(event, ui){
          $('#video').val(chosenVideo);
			}
		
		}).focus(function(){
              $(this).val("");
              $(this).autocomplete("search",  " " );
          });;




        $(document).ready(function(){
            for(key in jumptype_aff){
                var jumptype = jumptype_aff[key];
                $('#jumptype').append("<option value=\""+jumptype['value']+"\" data-triggers=\""+jumptype['triggers']+"\">"+jumptype['label']+"</option>");
            }
        
         var option_salarytype_aff = "";
	      for (var ind in salarytype_aff) {
	       salarytype = salarytype_aff[ind];
              option_salarytype_aff += "<option value=\""+salarytype.value+"\">"+salarytype.label+" ("+salarytype.payment+")</option>";
              
		}
        $('#salary_type_aff_1').html(option_salarytype_aff);
            $('#salary_type_aff_2').html(option_salarytype_aff);
        
        
         var option_salarytype_video = "";
	      for (var ind in salarytype_video) {
	       salarytype = salarytype_video[ind];
		      option_salarytype_video += "<option value=\""+salarytype.value+"\">"+salarytype.label+" ("+salarytype.payment+")</option>";
            
		}
        $('#salary_type_video').html(option_salarytype_video);
		$('#aff_2,#video').change(enableDisableSeats);


		function enableDisableSeats(){

            if(usedSeats >= maxSeats -2){
                $('#video').attr("disabled", "disabled");
                $('#aff_2').attr("disabled", "disabled");
            }
            if(usedSeats >= maxSeats -3){
                if($('#aff_2').val().length != 0){
                    $('#video').attr("disabled", "disabled");
				}
                if($('#video').val().length != 0){
                    $('#aff_2').attr("disabled", "disabled");
                }
			}
		}

            $('#jumptype').change(function(){
                enableAll();
                var triggers = $('option:selected', this).attr('data-triggers');
				console.log("executing: "+triggers);
                eval(triggers);
            });
            function enableAll(){
                console.log("enableAll");
                $('#video').removeAttr("disabled");
                $('#aff_2').removeAttr("disabled");
            }
            function disableVideo(){
                $('#video').attr("disabled", "disabled");
            }
            function disableInstructor2(){
                $('#aff_2').attr("disabled", "disabled");
			}


            $('#jumptype').trigger("change");
        
  });
  </script>