<form action="/load/addseat/instructor/{{ load_id }}" method="post" id="add_seat_form">
    <div class="modal dialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
         id="modal_dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">×</span></button>
                    <h4 class="modal-title" id="myModalLabel">Sitzplatz einbuchen</h4>
                </div>
                <div class="modal-body center">
                    <form action="/pages/loads.php?page=add_seat" method="post" id="add_seat_form">
                        <input type="hidden" name="load_id" value="{$load_id}"/>
                        <table class="table table-hover">


                            <tbody>

                            <tr>
                                <td>Name</td>
                                <td>
                                    <input type="text" id="jumped_by"/>
                                    <input type="hidden" name="jumped_by" id="jumped_by_id"/>
                                </td>
                            </tr>
                            <tr>
                                <td>Instructor</td>
                                <td>
                                    <input type="text"  id="instructor"/>
                                </td>
                                <td>
                                    <select name="salary_type_instructor" id="salary_type_instructor">

                                    </select>
                                    <input type="hidden" name="instructor" id="instructor_id" />
                                </td>
                            </tr>
                            <tr>
                                <td>Sprungtyp</td>
                                <td>

                                    <select name="jumptype" id="jumptype">
                                    </select>
                                </td>
                            </tr>
                            </tbody>

                        </table>


                    </form>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Abbrechen</button>
                    <button type="button" onclick="document.getElementById('add_seat_form').submit();"
                            class="btn btn-primary">Übernehmen
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>
<script>

    var chosenJumper = "";
    var chosenJumptype = "";
    var chosenInstructor = "";
    $("#jumped_by").autocomplete({
        source: availableJumpers,
        select: function (event, ui) {
            $("#jumped_by").val(ui.item.label);
            $("#jumped_by_id").val(ui.item.value);
            chosenJumper = ui.item.label;




        },
        close: function (event, ui) {
            $('#jumped_by').val(chosenJumper);
        }

    }).focus(function () {
        $(this).val("");
        $(this).autocomplete("search",  " " );
    });
    ;
    $( "#instructor" ).autocomplete({
        source: qualifications['AFF'],
        select: function (event, ui) {
            $("#instructor").val(ui.item.label);
            $("#instructor_id").val(ui.item.value);
            chosenInstructor = ui.item.label;
        },
        close: function(event, ui){
            $('#instructor').val(chosenInstructor);
        }

    }).focus(function(){
        $(this).val("");
        $(this).autocomplete("search",  " " );
    });;



    for (key in jumptype_instructor) {
        var jumptype = jumptype_instructor[key];
        $('#jumptype').append("<option value=\"" + jumptype['value'] + "\">" + jumptype['label'] + "</option>");
    }

    $('#jumptype').change(function () {
        $('#use_block').attr("disabled", "disabled");
        $.ajax({
            url: "/prepaid/capacity/" + $('#payed_by_id').val() + "/" + $('#jumptype').val(),
            type: "GET",
            async: true,
            cache: false,

            dataType: 'json',
            success: function (result) {
                if (result > 0) {
                    $('#use_block').removeAttr("disabled");
                } else {
                    $('#use_block').attr("disabled", "disabled");
                }


            },
            error: function () {
                $('#use_block').attr("disabled", "disabled");
            }
        });


    });
    var option_salarytype = "";
    for (var ind in salarytype_instructor) {
        salarytype = salarytype_instructor[ind];
        option_salarytype += "<option value=\""+salarytype.value+"\">"+salarytype.label+" ("+salarytype.payment+")</option>";

    }
    $('#salary_type_instructor').html(option_salarytype);
</script>