<form action="/load/addseat/solo/{{ load_id }}" method="post" id="add_seat_form">
    <div class="modal dialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
         id="modal_dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">×</span></button>
                    <h4 class="modal-title" id="myModalLabel">Sitzplatz einbuchen</h4>
                </div>
                <div class="modal-body center">
                    <form action="/pages/loads.php?page=add_seat" method="post" id="add_seat_form">
                        <input type="hidden" name="load_id" value="{$load_id}"/>
                        <table class="table table-hover">


                            <tbody>

                            <tr>
                                <td>Name</td>
                                <td>
                                    <input type="text" id="jumped_by"/>
                                    <input type="hidden" name="jumped_by" id="jumped_by_id"/>
                                </td>
                            </tr>
                            <tr>
                                <td>Bezahlt durch</td>
                                <td>
                                    <input type="text" id="payed_by"/>
                                    <input type="hidden" name="payed_by" id="payed_by_id"/>
                                </td>
                                <td><label for="use_block"><input type="checkbox" name="use_block" id="use_block"
                                                                  disabled> Block nutzen</label></td>
                            </tr>
                            <tr>
                                <td>Miete</td>
                                <td>

                                    <select name="rent" id="rent">
                                        <option value="0">-</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>Sprungtyp</td>
                                <td>

                                    <select name="jumptype" id="jumptype">

                                    </select>
                                </td>
                            </tr>
                            </tbody>

                        </table>


                    </form>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Abbrechen</button>
                    <button type="button" onclick="document.getElementById('add_seat_form').submit();"
                            class="btn btn-primary">Übernehmen
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>
<script>
    var chosenPayer = "";
    var chosenJumper = "";
    var chosenJumptype = "";

    $("#jumped_by").autocomplete({
        source: availableJumpers,
        select: function (event, ui) {
            $("#jumped_by").val(ui.item.label);
            $("#jumped_by_id").val(ui.item.value);
            chosenJumper = ui.item.label;

            $("#payed_by").val(ui.item.label);
            $("#payed_by_id").val(ui.item.value);
            $("#payed_by_id").trigger('change');
            chosenPayer = ui.item.label;

        },
        close: function (event, ui) {
            $('#jumped_by').val(chosenJumper);
        }

    }).focus(function () {
        $(this).val("");
        $(this).autocomplete("search",  " " );
    });
    ;

    $("#payed_by").autocomplete({
        source: availableJumpers,
        select: function (event, ui) {
            $("#payed_by").val(ui.item.label);
            $("#payed_by_id").val(ui.item.value);
            chosenPayer = ui.item.label;
            $("#payed_by_id").trigger('change');
        },
        close: function (event, ui) {
            $('#payed_by').val(chosenPayer);
        }

    }).focus(function () {
        $(this).val("");
        $(this).autocomplete("search",  " " );
    });
    ;


    for (key in jumptype_solo) {
        var jumptype = jumptype_solo[key];
        $('#jumptype').append("<option value=\"" + jumptype['value'] + "\">" + jumptype['label'] + "</option>");
    }

    for(key in renttype_solo){
        var renttype = renttype_solo[key];
        $('#rent').append("<option value=\"" + renttype['value'] + "\">" + renttype['label'] + "</option>");
    }

    $('#jumptype,#payed_by_id').change(function () {
        $('#use_block').attr("disabled", "disabled");
        $.ajax({
            url: "/prepaid/capacity/" + $('#payed_by_id').val() + "/" + $('#jumptype').val(),
            type: "GET",
            async: true,
            cache: false,

            dataType: 'json',
            success: function (result) {
                if (result > 0) {
                    $('#use_block').removeAttr("disabled");
                } else {
                    $('#use_block').attr("disabled", "disabled");
                }


            },
            error: function () {
                $('#use_block').attr("disabled", "disabled");
            }
        });


    });
</script>