<form action="/load/addseat/tandem/{{ load_id }}" method="post" id="add_seat_form">
    <div class="modal dialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
         id="modal_dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">×</span></button>
                    <h4 class="modal-title" id="myModalLabel">Sitzplatz einbuchen</h4>
                </div>
                <div class="modal-body center">
                    <form action="/pages/loads.php?page=add_seat" method="post" id="add_seat_form">
                        <input type="hidden" name="load_id" value="{$load_id}"/>
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th></th>
                                <th>Springer</th>
                                <th>Vergütungen</th>
                            </tr>
                            </thead>
                            <tbody>

                            <tr>
                                <td>Passagier</td>
                                <td>
                                    <input type="text" id="jumped_by"/>
                                    <input type="hidden" name="jumped_by" id="jumped_by_id"/>
                                </td>
                                <td>
                                </td>
                            </tr>
                            <tr>
                                <td>Bezahlt durch</td>
                                <td>
                                    <input type="text" id="payed_by"/>
                                    <input type="hidden" name="payed_by" id="payed_by_id"/>
                                </td>
                                <td>
                                </td>
                            </tr>
                            <tr>
                                <td>Tandemmaster</td>
                                <td>
                                    <input type="text" id="tandem_master"/>
                                </td>
                                <td>
                                    <select name="seat_type_tm" id="salary_type_tm">
                                        <option value="0">-</option>
                                    </select>
                                    <input type="hidden" name="tandem_master" id="tandem_master_id"/>
                                </td>
                            </tr>
                            <tr>
                                <td>Videospringer</td>
                                <td>
                                    <input type="text" id="video"/>
                                </td>
                                <td>
                                    <select name="seat_type_video" id="salary_type_video">

                                    </select>
                                    <input type="hidden" name="video" id="video_id"/>
                                </td>
                            </tr>
                            <tr>
                                <td>Sprungtyp</td>
                                <td>

                                    <select name="jumptype" id="jumptype"></select>
                                </td>
                                <td>
                                </td>
                            </tr>
                            <tr>
                                <td>Miete</td>
                                <td>

                                    <select name="rent" id="rent">
                                        <option value="0">-</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>Gutschein</td>
                                <td>

                                    <input name="voucher" id="voucher"/>
                                </td>
                                <td>
                                    <input name="voucher_value" placeholder="Wert"/>
                                </td>
                            </tr>
                            </tbody>

                        </table>


                    </form>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Abbrechen</button>
                    <button type="button" onclick="document.getElementById('add_seat_form').submit();"
                            class="btn btn-primary">Übernehmen
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>
<script>

    var chosenJumper = "";
    var chosenTm = "";
    var chosenJumptype;
    var chosenVideo;
    var chosenPayer = "";
    $("#jumped_by").autocomplete({
        source: availableUsers,
        minChars: 0,
        select: function (event, ui) {
            $("#jumped_by").val(ui.item.label);
            $("#jumped_by_id").val(ui.item.value);
            chosenJumper = ui.item.label;

            $("#payed_by").val(ui.item.label);
            $("#payed_by_id").val(ui.item.value);
            chosenPayer = ui.item.label;

        },
        close: function (event, ui) {
            $('#jumped_by').val(chosenJumper);
        }

    }).focus(function () {
        $(this).autocomplete("search", $(this).val().length == 0 ? " " : $(this).val());
    });
    ;

    $("#payed_by").autocomplete({
        source: availableUsers,
        select: function (event, ui) {
            $("#payed_by").val(ui.item.label);
            $("#payed_by_id").val(ui.item.value);
            chosenPayer = ui.item.label;
        },
        close: function (event, ui) {
            $('#payed_by').val(chosenPayer);
        }

    }).focus(function () {
        $(this).val("");
        $(this).autocomplete("search", " ");
    });
    ;


    $("#tandem_master").autocomplete({
        source: qualifications['Tandem'],
        select: function (event, ui) {
            $("#tandem_master").val(ui.item.label);
            $("#tandem_master_id").val(ui.item.value);
            chosenTm = ui.item.label;
        },
        close: function (event, ui) {
            $('#tandem_master').val(chosenTm);
        }

    }).focus(function () {
        $(this).val("");
        $(this).autocomplete("search", " ");
    });
    ;


    $("#video").autocomplete({
        source: qualifications['Video'],
        select: function (event, ui) {
            $("#video").val(ui.item.label);
            $("#video_id").val(ui.item.value);
            chosenVideo = ui.item.label;
        },
        close: function (event, ui) {
            $('#video').val(chosenVideo);
        }

    }).focus(function () {
        $(this).val("");
        $(this).autocomplete("search", " ");
    });
    ;


    $(document).ready(function () {
        for (key in jumptype_tandem) {
            var jumptype = jumptype_tandem[key];
            $('#jumptype').append("<option value=\"" + jumptype['value'] + "\" data-triggers=\"" + jumptype['triggers'] + "\">" + jumptype['label'] + "</option>");
        }

        var option_salarytype_tm = "<option value='0'>-</option>";
        for (var ind in salarytype_tandemmaster) {
            salarytype = salarytype_tandemmaster[ind];
            option_salarytype_tm += "<option value=\"" + salarytype.value + "\">" + salarytype.label + " (" + salarytype.payment + ")</option>";

        }

        for (key in renttype_tandem) {
            var renttype = renttype_tandem[key];
            $('#rent').append("<option value=\"" + renttype['value'] + "\">" + renttype['label'] + "</option>");
        }
        $('#salary_type_tm').html(option_salarytype_tm);


        var option_salarytype_video = "";
        for (var ind in salarytype_video) {
            salarytype = salarytype_video[ind];
            option_salarytype_video += "<option value=\"" + salarytype.value + "\" >" + salarytype.label + " (" + salarytype.payment + ")</option>";

        }
        $('#salary_type_video').html(option_salarytype_video);

        if (usedSeats >= maxSeats - 2) {
            $('#video').attr("disabled", "disabled");
        }
        $('#jumptype').change(function () {
            enableAll();
            var triggers = $('option:selected', this).attr('data-triggers');

            eval(triggers);
        });

        function enableAll() {
            $('#video').removeAttr("disabled");
        }

        function disableVideo() {
            $('#video').attr("disabled", "disabled");
        }


        $('#jumptype').trigger("change");




    });
</script>