{% extends 'base.html.twig' %}



{% block body %}
    {% set weight = 0 %}
    <table class="table">
        <thead>
        <tr>
            <th>Springer #</th>
            <th>Springer-Name</th>
            <th>Sprungtyp</th>
        </tr>
        </thead>
        <tbody>
        {% set seatno = 0 %}
        {% set background = "#CCCCCC" %}
        {% for jumpGroup in load.jumpGroups %}
            {% set firstRow = true %}
            {% if background == "#DDDDDD" %}
                {% set background = "#CCCCCC" %}
            {% else %}
                {% set background = "#DDDDDD" %}
            {% endif %}
            {% for user in jumpGroup|getUsers %}
                {% set seatno = seatno +1 %}
                {% set weight = weight +user.weight %}
                <tr style="background-color:{{ background }}; ">
                    <td>{{ seatno }}</td>
                    <td>{{ user.firstName }}</td>
                    <td>{{ jumpGroup.jumpType.name }}</td>
                    <td>
                        {% if firstRow == true and jumpGroup|jumpgroupDeleteable == true and load.started is null %}
                            <a href="/load/removejumpgroup/{{ load.id }}/{{ jumpGroup.id }}">Löschen</a>
                        {% endif %}
                    </td>
                </tr>

                {% set firstRow = false %}
            {% endfor %}
        {% endfor %}

        </tbody>
    </table>
    Gesamtgewicht: {{ weight }} kg<br/><br/>
    {% if load.started is null %}
        {% if load|seats < constant('AppBundle\\Entity\\Load::MAX_SEATS') %}
            <a data-type="solo_seat" class="addseat">Solo-Springer hinzufügen</a><br/>
        {% endif %}
        {% if load|seats < constant('AppBundle\\Entity\\Load::MAX_SEATS') -1 %}
            <a data-type="tandem_seat" class="addseat">Tandem-Springer hinzufügen</a><br/>
            <a data-type="aff_seat" class="addseat">AFF-Springer hinzufügen</a><br />
            <a data-type="instructor_seat" class="addseat">Instrucor-Sprung hinzufügen</a>
        {% endif %}
    {% endif %}
    <div id="ajax"></div>






{% endblock %}

{% block javascripts %}
    <script>
        var usedSeats = {{ load|seats }};
        var maxSeats =  {{ constant('AppBundle\\Entity\\Load::MAX_SEATS') }};
        var availableJumpers;
        var availableUsers;
        var qualifications = Array();
        var jumptype_solo = Array(), jumptype_tandem = Array(), jumptype_aff = Array(), jumptype_instructor = Array();
        var salarytype_video = Array(), salarytype_tandemmaster = Array(), salarytype_instructor = Array();
        var salarytype_aff = Array();
        var renttype_solo = Array();
        var renttype_tandem = Array();
        $(document).ready(function () {
            availableJumpers = [

                {% for user in jumpers %}
                {value: {{ user.id }}, label: '{{ user.firstName }} {{ user.lastName }}'},
                {% endfor %}

            ];

            availableUsers = [

                {% for user in users %}
                {value: {{ user.id }}, label: '{{ user.firstName }} {{ user.lastName }}'},
                {% endfor %}

            ];

            {% for key, qualification in qualifications %}
            qualifications["{{ key }}"] = [
                {% for user in qualification %}
                {value: {{ user.id }}, label: '{{ user.firstName }} {{ user.lastName }}'},
                {% endfor %}
            ];
            {% endfor %}

            {% for jumptype in jumptypes %}
            jumptype_{{ jumptype.jumptype }}.push({
                value: {{ jumptype.id }},
                label: "{{ jumptype.name }}",
                triggers: "{{ jumptype.jsTriggers }}"
            });

            {% endfor %}
            {% for rentType in rentTypes %}
                renttype_{{ rentType.rentType }}.push(
                    {
                        value: {{ rentType.id }},
                        label: "{{ rentType.name }}",
                        price: "{{ rentType.price }}"
                    }
                );
            {% endfor %}
            {% for salaryType in salaryTypes %}
            salarytype_{{ salaryType.salaryType }}.push({
                value: {{ salaryType.id }},
                label: "{{ salaryType.name }}",
                payment: "{{ salaryType.credit }}"
            });

            {% endfor %}

            $('.addseat').click(function () {
                addSeat($(this).attr("data-type"));
            });

            function addSeat(type) {
                $.ajax({
                    url: "/templates/seats/" + type + "/{{ load.id }}",
                    type: "GET",
                    async: true,
                    cache: false,


                    success: function (template) {
                        $('#ajax').html(template);
                        $('#modal_dialog').modal("show");
                    }
                });
            }


        });


    </script>
{% endblock %}

