{% extends 'base.html.twig' %}



{% block body %}
    <input type="text" class="form-control selectwidthauto" id="date" name="date"/>
    <table class="table table-hover table-responsive">
        <thead>
        <tr>
            <th>#</th>
            <th>Springer</th>
            <th>Geplanter Start</th>
            <th>Gestartet</th>
        </tr>
        </thead>
        <tbody>

        {% for loadno, load in loads %}

            <tr class="clickable" onclick="document.location.href='/load/edit/{{ load.id }}'">
                <td>{{ loadno +1 }}</td>
                <td>{{ load|seats }}</td>
                <td>
                    <a href="#"
                       class="schedule"
                       data-target="{{ load.id }}">{% if load.scheduledStart is not null %}{{ load.scheduledStart|date("H:i") }}{% else %} - {% endif %}</a>
                    |
                    {% if loadno > 0 and load.started is null %}
                        {% if  load.shouldFollow == false %} <a
                                href="/load/schedule/{{ load.id }}/connected/1">Folgestart</a>
                        {% else %}
                            <a href="/load/schedule/{{ load.id }}/connected/0">Kein Folgestart</a>
                        {% endif %}
                    {% endif %}
                </td>
                <td>
                    {% if load|seats > 0 %}
                        {% if load.started == null %}
                            <a href="#" class="start" data-target="{{ load.id }}">Starten</a>
                        {% else %}
                            {{ load.started|date("d.m.Y H:i") }}
                            <a href="/load/unstart/{{ load.id }}">Rückgängig</a>
                        {% endif %}
                    {% else %}
                        <a href="/load/delete/{{ load.id }}">Löschen</a>
                    {% endif %}

                </td>
            </tr>

        {% endfor %}

        </tbody>
    </table>

    <div id="start_time" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Startzeit</h4>
                </div>
                <div class="modal-body">
                    <input id="input_start_time" type="text" class="form-control selectwidthauto"/>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Abbrechen</button>
                    <button type="button" id="start" class="btn btn-default" data-dismiss="modal">Speichern</button>
                </div>
            </div>

        </div>
    </div>


{% endblock %}

{% block javascripts %}
    <script>
        var loadToStart;
        var timeType;
        $(document).ready(function () {

            $("#date").datepicker().datepicker('setDate', "{{ date }}");

            $('#date').change(function () {
                window.location.href = "/load/overview/" + btoa($(this).val());
            });
            $('#input_start_time').timepicker();
            $('.start,.schedule').click(function (e) {
                e.stopImmediatePropagation();
                var dt = new Date();
                var time = ('0' + dt.getHours()).slice(-2) + ':'
                    + ('0' + (dt.getMinutes())).slice(-2);
                $('#input_start_time').val(time);
                $('#start_time').modal("show");
                loadToStart = $(this).attr("data-target");
                timeType = $(this).attr("class");


            });

            $('#start').click(function () {
                window.location.href = "/load/" + timeType + "/" + loadToStart + "/" + btoa($("#input_start_time").val());
            })

        });

    </script>
{% endblock %}

