
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('css/jquery-ui.css') }}" />
        <link rel="stylesheet" href="{{ asset('css/style.css') }}" />
        <link rel="stylesheet" href="{{ asset('css/datepicker.css') }}" />
        <link rel="stylesheet" href="{{ asset('css/timepicker.css') }}" />
        <link rel="stylesheet" href="{{ asset('css/jquery.tagit.css') }}" />


        <script src="{{ asset('js/jquery.js') }}"></script>
        <script src="{{ asset('js/jquery-ui.js') }}"></script>
        <script src="{{ asset('js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('js/datepicker-de.js') }}"></script>
        <script src="{{ asset('js/tag-it.min.js') }}"></script>
        <script src="{{ asset('js/timepicker.js') }}"></script>
        <script src="{{ asset('js/script.js') }}"></script>

         
     
    </head>
    <body>
      
    {% include 'navbar.html.twig' %}
        <div class="jumbotron">
            <div class="container">
                {% block body %}{% endblock %}
            </div>
        </div>
        <script>

            function addNote(note){
                $('#note').html($('#note').html()+note);
            }
         $(document).ready(function(){

            $('#nav_{% block nav_active %}{% endblock %}').addClass("active");
            setTimeout(function(){
                $('#note').empty();
            }, 2000);
          });
        
        </script>
        {% block javascripts %}{% endblock %}
    <div id="note">

    </div>
    </body>
</html>
