{% if app.session.get('user') is not null %}
    {% set user = app.session.get('user') %}
    <nav class="navbar navbar-default" id="navbar">
        <div class="container-fluid">

            <div class="navbar-header">
                <a class="navbar-brand" href="/load/overview">Manifest</a>
            </div>


            <div class="collapse navbar-collapse ">
                <ul class="nav navbar-nav ">
                    <!-- <li class="active"><a href="#">Link 1 <span class="sr-only">(current)</span></a></li> -->


                    <li class="dropdown" id="nav_users">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">Springer<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/user/overview">Übersicht</a></li>
                            <li><a href="/user/create">Erfassen</a></li>
                        </ul>

                    </li>

                    <li class="dropdown" id="nav_loads">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">Loads<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/load/overview">Übersicht</a></li>
                            <li><a href="/load/create">Neu anlegen</a></li>
                        </ul>

                    </li>
                    <li class="dropdown" id="nav_invoices">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">Rechnungen<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/document/payment/unpaid">Abzurechnen</a></li>
                            <li><a href="/document/invoice/overview/1/1">Unbezahlt</a></li>
                            <li><a href="/document/invoice/overview">Alle</a></li>

                        </ul>
                    </li>
                    <li class="dropdown" id="nav_invoices">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">Gutschriften<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/document/credit/unpaid">Abzurechnen</a></li>
                            <li><a href="/document/credit/overview/1/1">Unbeglichen</a></li>
                            <li><a href="/document/credit/overview">Alle</a></li>


                        </ul>
                    </li>
                    <li class="dropdown" id="nav_invoices">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">Blöcke<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/block/buy">Block kaufen</a></li>
                            <li><a href="/block/overview">Übersicht</a></li>


                        </ul>
                    </li>
                    <li class="dropdown" id="nav_cash">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">Kasse<span class="caret"></span></a>
                        <ul class="dropdown-menu">

                            <li><a href="/cash/change/take">Entnahme</a></li>
                            <li><a href="/cash/change/put">Zugabe</a></li>
                            <li><a href="/cash/overview">Kassenstand</a></li>


                        </ul>
                    </li>

                    <li class="dropdown" id="nav_voucher">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">Gutscheine<span class="caret"></span></a>
                        <ul class="dropdown-menu">

                            <li><a href="/voucher/overview">Übersicht</a></li>
                            <li><a href="/voucher/create">Erzeugen</a></li>


                        </ul>
                    </li>

                </ul>


                <ul class="nav navbar-nav navbar-right">


                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">Eingeloggt als {{ user.first_name }} {{ user.last_name }}
                            ({{ user.username }})<span class="caret"></span></a>
                        <ul class="dropdown-menu">

                            <li>
                                <a href="/logout">Ausloggen</a>
                            </li>
                            <li>
                                <a href="/changePassword">Passwort ändern</a>
                            </li>


                            <!--<li role="separator" class="divider"></li> -->

                        </ul>
                    </li>


                </ul>

            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    {% if loads_of_today is defined %}
        {% set path = path(app.request.attributes.get('_route'),
        app.request.attributes.get('_route_params')) %}
        <div>
            <ul class="nav nav-tabs">
                <li {% if path == "/load/overview" %} class="active"{% endif %}><a href="/load/overview">Übersicht</a>
                </li>
                {% for load in loads_of_today %}
                    {% set link =  "/load/edit/"~ load.id %}
                    <li {% if path == link %} class="active"{% endif %}><a
                                href="{{ link }}">Load {{ load|loadOfTheDay }}</a></li>
                {% endfor %}
                <li><a href="/load/create">+</a></li>
            </ul>


        </div>
    {% endif %}

{% endif %}