
{% extends 'base.html.twig' %}



{% block body %}
    <form action="" method="post">
        <div class="form-group">
            <label for="username">Altes Passwort</label>
            <input class="form-control" id="password_old" type="password" name="password_old"  />
        </div>
        <div class="form-group">
            <label for="password">Neues Passwort</label>
            <input class="form-control" id="password_new" type="password" name="password_new" />
        </div>
        <div class="form-group">
            <label for="password">Neues Passwort bestätigen</label>
            <input class="form-control error_tracking" id="password_confirm" type="password" name="password_confirm" />
        </div>
        {% if error is defined %}
            <div class="col-xs-12 red">
                Altes Passwort stimmt nicht!
            </div>
        {% endif %}
        <button type="submit" class="btn btn-default" id="submit">Speichern</button>

    </form>


{% endblock %}
{%  block javascripts %}
    <script>
    $(document).ready(function(){
        $('#password_new,#password_confirm').change(function(){
            if($('#password_new').val() != $('#password_confirm').val()){
                addError($('#password_confirm'), "password");
            }else{
                removeError($('#password_confirm'), "password");
            }
        });
    });
    </script>
{% endblock %}
