
{% extends 'base.html.twig' %}
{% block body %}
<form action="" method="post">
    <div class="form-group">
        <label for="username">Benutzername</label>
        <input class="form-control" id="username" type="text" name="username"  />
    </div>
    <div class="form-group">
        <label for="password">Passwort</label>
        <input class="form-control" id="password" type="password" name="password" />
    </div>
    {% if error is defined %}
        <div class="col-xs-12 red">
            Falscher Benutzername oder falsches Passwort!
        </div>
    {% endif %}
    <button type="submit" class="btn btn-default">Login</button>

</form>


{% endblock %}

