{% set sum = 0 %}

{% if  ust == true %}
    {% set ust_value = 0.19 %}
{% else %}
    {% set ust_value = 0 %}
{% endif %}
<div style="float:right;">
    <img src="{{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset("images/skydive-leipzig.png") }}"
         height="100"/>
</div>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

<div>
    <div style="float:left;">
        <b>{{ creditor.firstName }} {{ creditor.lastName }}</b><br/>
        {{ creditor.street }} {{ creditor.streetNumber }} <br/>
        {{ creditor.zip }} {{ creditor.city }}<br/><br/>
    </div>
    <div style="float:right; font-size:12px;">
        Skydive Leipzig e.V. <br/>
        Postfach 10 04 23 <br/>
        04004 Leipzig <br/>
        <i>Phone:</i> 017873101054<br/>
        <i>E-Mail:</i> ralf@skydive-leipzig.de<br/>
        <i>Http:</i> www.skydive-leipzig.de<br/>
        <br/>
        <br/>
        Bearbeiter: {{ app.session.get('user')['first_name'] }} {{ app.session.get('user')['last_name'] }}
        <br/>
        <br/>
        <p style="font-size:14px;">Datum: {{ "now"|date("d.m.Y") }}</p>
    </div>
</div>

<br/>

<div>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <div style="float:left;">
        <b style="font-size:25px;">Gutschrift</b><br/>
        <b>Nr.: {{ credit_number }}</b>
    </div>
</div>
<br/>
<br/>
<br/>
<hr/>
<table style="width:100%;">
    <thead>
    <tr>
        <th style="text-align:left;">#</th>
        <th style="text-align:left;">Datum</th>
        <th style="text-align:left;">Bezeichnung</th>
        <th style="text-align:left;">Load</th>

        <th style="text-align:right;">Vergütung</th>
    </tr>
    </thead>
    <tbody>
    {% for ind, creditSeat in creditSeats %}
        <tr>
            <td>{{ ind +1 }}</td>
            <td>{{ creditSeat.jumpGroup.load.created|date("d.m.Y") }}</td>
            <td>{{ creditSeat.salaryType.name }}</td>
            <td>{{ creditSeat.jumpGroup.load|loadOfTheDay }}</td>

            <td style="text-align:right;">{{ (creditSeat.salaryType.credit )|number_format(2,",","") }} €</td>
            {% set sum = sum + creditSeat.salaryType.credit %}
        </tr>
        {% if creditSeat.jumpGroup.rent is not null and creditSeat.jumpGroup.rent.user == creditor and creditSeat.jumpGroup.rent.rentType.price < 0%}
            {% set rent = creditSeat.jumpGroup.rent %}
            <tr>
                <td>{{ ind }}</td>
                <td></td>
                <td>Gutschrift: {{ rent.rentType.name }}</td>
                <td></td>
                <td style="text-align:right;"> {{ rent.rentType.price|abs|number_format(2,",","") }} €</td>

                {% set sum = sum - rent.rentType.price %}
                {% set ind = ind +1 %}

            </tr>
        {% endif %}
    {% endfor %}
    <tr>
        <td colspan="5">
            <hr/>
        </td>
    </tr>
    <tr>
        {% set brutto = sum * (1+ ust_value)  %}
        <td style="font-size:10px;">Warenwert(Brutto)</td>
        <td style="font-size:10px;">MwSt.</td>
        <td style="font-size:10px;">Warenwert(Netto)</td>
        <td><b style="font-size:20px;">Gutschrift:</b></td>
        <td style="text-align:right; font-size:20px;"><b>{{ brutto|number_format(2,",","") }} €</b></td>
    </tr>
    <tr>


        <td style="font-size:10px;">{{ brutto|number_format(2,",","") }} €</td>
        <td style="font-size:10px;">{% if ust == true %}{{ ust_value * 100 }}{% else %}0{% endif %}% = {{ (brutto - sum)|number_format(2,",","") }} €</td>
        <td style="font-size:10px;">{{ sum|number_format(2,",","") }} €</td>
    </tr>
    </tbody>
</table>

<div></div>