{% set sum = 0 %}
<div style="float:right;">
    <img src="{{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset("images/skydive-leipzig.png") }}"
         height="100"/>
</div>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

<div>
    <div style="float:left;">
        <b>{{ payer.firstName }} {{ payer.lastName }}</b><br/>
        {{ payer.street }} {{ payer.streetNumber }} <br/>
        {{ payer.zip }} {{ payer.city }}<br/><br/>
    </div>
    <div style="float:right; font-size:12px;">
        Skydive Leipzig e.V. <br/>
        Postfach 10 04 23 <br/>
        04004 Leipzig <br/>
        <i>Phone:</i> 017873101054<br/>
        <i>E-Mail:</i> ralf@skydive-leipzig.de<br/>
        <i>Http:</i> www.skydive-leipzig.de<br/>
        <br/>
        <br/>
        Bearbeiter: {{ app.session.get('user')['first_name'] }} {{ app.session.get('user')['last_name'] }}
        <br/>
        <br/>
        <p style="font-size:14px;">Datum: {{ "now"|date("d.m.Y") }}</p>
    </div>
</div>

<br/>

<div>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <div style="float:left;">
        <b style="font-size:25px;">Rechnung</b><br/>
        <b>Nr.: {{ invoice_number }}</b>
    </div>
</div>
<br/>
<br/>
<br/>
<hr/>
<table style="width:100%;">
    <thead>
    <tr>
        <th style="text-align:left;">#</th>
        <th style="text-align:left;">Datum</th>
        <th style="text-align:left;">Bezeichnung</th>
        <th style="text-align:left;">Load</th>

        <th style="text-align:right;">Preis</th>
    </tr>
    </thead>
    <tbody>
    {% set pos = 1 %}
    {% for ind, unpaid in unpaidJumpGroups %}
        <tr>
            <td>{{ pos }}</td>
            <td>{{ unpaid.load.created|date("d.m.Y") }}</td>
            <td>{{ unpaid.jumptype.name }}{% if payer.isMember and unpaid.jumpType.memberDiscount > 0 %} (Mitglied) {% endif %}</td>
            <td>{{ unpaid.load|loadOfTheDay }}</td>
            {% set price = unpaid.jumpType.price %}
            {% if payer.isMember %}
                {% set price = price - unpaid.jumpType.memberDiscount %}
            {% endif %}
            <td style="text-align:right;">{{ price|number_format(2,",","") }} €</td>
            {% set sum = sum + price %}
            {% set pos = pos +1 %}
        </tr>
        {% if unpaid.rent is not null and unpaid.rent.user == payer and unpaid.rent.rentType.price > 0%}
            {% set rent = unpaid.rent %}
            <tr>
                <td>{{ pos }}</td>
                <td></td>
                <td>Miete: {{ rent.rentType.name }}</td>
                <td></td>
                <td style="text-align:right;"> {{ rent.rentType.price|number_format(2,",","") }} €</td>

                {% set sum = sum + rent.rentType.price %}
                {% set pos = pos +1 %}

            </tr>
        {% endif %}
        {% if unpaid.voucher is not null %}
            <tr>
                <td>{{ pos }}</td>
                <td>{{ unpaid.load.created|date("d.m.Y") }}</td>
                <td>Gutschein: {{ unpaid.voucher.number }}</td>
                <td>{{ unpaid.load|loadOfTheDay }}</td>

                <td style="text-align:right;">- {{ unpaid.voucher.value|number_format(2,",","") }} €</td>
                {% set sum = sum - unpaid.voucher.value %}
                {% set pos = pos +1 %}
            </tr>
        {% endif %}
    {% endfor %}
    {% for ind, unpaid in unpaidPrepaidGroups %}
        <tr>
            <td>{{ pos }}</td>
            <td>{{ unpaid.buyedAt|date("d.m.Y") }}</td>
            <td>{{ unpaid.prepaidTypeGroup.name }}</td>
            <td>-</td>

            <td style="text-align:right;">{{ unpaid.prepaidTypeGroup.price|number_format(2,",","") }} €</td>
            {% set sum = sum + unpaid.prepaidTypeGroup.price %}
            {% set pos = pos +1 %}
        </tr>

    {% endfor %}



    <tr>
        <td colspan="5">
            <hr/>
        </td>
    </tr>
    <tr>
        <td style="font-size:10px;">Warenwert(Brutto)</td>
        <td style="font-size:10px;">MwSt.</td>
        <td style="font-size:10px;">Warenwert(Netto)</td>
        <td><b style="font-size:20px;">Zu zahlender Betrag:</b></td>
        <td style="text-align:right; font-size:20px;"><b>{{ sum|number_format(2,",","") }} €</b></td>
    </tr>
    <tr>
        {% set brutto = sum %}
        {% set netto = sum/1.19 %}
        {% set tax = brutto - netto %}
        <td style="font-size:10px;">{{ brutto|number_format(2,",","") }} €</td>
        <td style="font-size:10px;">19% = {{ tax|number_format(2,",","") }} €</td>
        <td style="font-size:10px;">{{ netto|number_format(2,",","") }} €</td>
    </tr>
    </tbody>
</table>

<div></div>