{% extends 'base.html.twig' %}



{% block body %}
    <input type="text" class="form-control selectwidthauto" id="jumper"
           value="{% if jumper is not null %}{{ jumper.firstName }} {{ jumper.lastName }}{% endif %}"/>{% if jumper is not null %}
    <a href="/block/overview">Filter löschen</a>{% endif %}
    <table class="table table-striped table-responsive">
        <thead>
        <tr>

            <th>Springer</th>
            <th>Gekauft am</th>
            <th>Name</th>
            <th>Gesamtsprünge</th>
            <th>Restsprünge</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for prepaidGroupDto in prepaidGroupDtos %}
            <tr>
                <td>{{ prepaidGroupDto.prepaidGroup.payer.firstName }} {{ prepaidGroupDto.prepaidGroup.payer.lastName }}</td>
                <td>{{ prepaidGroupDto.prepaidGroup.buyedAt|date("d.m.Y") }}</td>
                <td><b>{{ prepaidGroupDto.prepaidGroup.prepaidTypeGroup.name }}</b></td>
                <td></td>
                <td></td>
                <td>{% if prepaidGroupDto.deleteable %}<a href="/block/delete/{{ prepaidGroupDto.prepaidGroup.id }}">Löschen</a>{% endif %}</td>
            </tr>
            {% for prepaidDto in prepaidGroupDto.prepaidDtos %}
                <tr>

                    <td></td>
                    <td></td>
                    <td>{{ prepaidDto.prepaid.prepaidType.name }}</td>
                    <td>{{ prepaidDto.prepaid.prepaidType.quantity }}</td>
                    <td>{{ prepaidDto.capacity }}</td>
                    <td>


                </tr>
            {% endfor %}
        {% endfor %}
        </tbody>
    </table>
    <ul class="pagination">


        {% for i in 1..pages %}
            <li {% if page == i %}class="active"{% endif %}><a
                        href="/block/overview/{% if jumper is not null %}{{ jumper.id }}/{% endif %}{{ i }}">{{ i }}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
{% block javascripts %}
    <script>
        $(document).ready(function () {


            var availableJumpers = [

                {% for user in jumpers %}
                {value: {{ user.id }}, label: '{{ user.firstName }} {{ user.lastName }}'},
                {% endfor %}
            ];
            var chosenJumper;
            $("#jumper").autocomplete({
                source: availableJumpers,
                select: function (event, ui) {
                    chosenJumper = ui.item.label;
                    document.location.href = "/block/overview/" + ui.item.value + "/{{ page }}";


                },
                close: function (event, ui) {
                    $('#jumper').val(chosenJumper);
                }

            }).focus(function () {
                $(this).autocomplete("search", $(this).val().length == 0 ? " " : $(this).val());
            });


        });
    </script>

{% endblock %}