{% extends 'base.html.twig' %}



{% block body %}

    <form action="" method="post">
        <div class="form-group">
            <div class="col-xs-12">
                <label for="first_name">Vorname</label>
                <input class="form-control" id="first_name" type="text" name="first_name"
                       {% if user is defined %}value="{{ user.firstName }}"{% endif %} required="required"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-12">
                <label for="last_name">Nachname</label>
                <input class="form-control" id="last_name" type="text" name="last_name"
                       {% if user is defined %}value="{{ user.lastName }}"{% endif %} required="required"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-9">
                <label for="street">Straße</label>
                <input class="form-control" id="street" type="text" name="street"
                       {% if user is defined %}value="{{ user.street }}"{% endif %} required="required"/>
            </div>
            <div class="col-xs-3">
                <label for="street_number">Hausnummer</label>
                <input class="form-control" id="street_number" type="text" name="street_number"
                       {% if user is defined %}value="{{ user.streetNumber }}"{% endif %} required="required"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-3">
                <label for="zip">PLZ</label>
                <input class="form-control" id="zip" type="text" name="zip"
                       {% if user is defined %}value="{{ user.zip }}"{% endif %} required="required"/>
            </div>
            <div class="col-xs-9">
                <label for="city">Ort</label>
                <input class="form-control" id="city" type="text" name="city"
                       {% if user is defined %}value="{{ user.city }}"{% endif %} required="required"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-12">
                <label for="guest">Tandemgast
                    <input id="guest" type="checkbox" name="guest"
                           {% if user is defined and user.isGuest == true %}checked="checked"{% endif %}/>
                </label>
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-12">
                <label for="member">Mitglied
                    <input id="member" type="checkbox" name="member"
                           {% if user is defined and user.isMember == true %}checked="checked"{% endif %}/>
                </label>
            </div>
        </div>
        <div class="form-group col-xs-12">
            <div class="col-xs-3">
                <label for="weight">Gewicht in kg</label>
                <input class="form-control" type="number" name="weight" id="weight"
                       {% if user is defined %}value="{{ user.weight }}"{% endif %}/>

            </div>


            <div class="col-xs-3">
                <label for="weight">Reservepackdatum</label>
                <input class="form-control date" type="text" name="reserve" id="reserve"
                       {% if user is defined and user.reserve is not null %}value="{{ user.reserve|date('d.m.Y') }}"{% endif %}/>
            </div>

            <div class="col-xs-3">
                <label for="disclaimer_date">Enthaftung</label>
                <input class="form-control date" type="text" name="disclaimer_date" id="disclaimer_date"
                       {% if user is defined and user.disclaimerDate is not null %}value="{{ user.disclaimerDate|date('d.m.Y') }}"{% endif %}/>
            </div>
        </div>
        <div class="form-group col-xs-12">

            <div class="col-xs-6">
                <label for="weight">Lizenznummer</label>
                <input class="form-control" type="text" name="license_no" id="license_no"
                       {% if user is defined %}value="{{ user.licenseNo }}"{% endif %}/>
            </div>
            <div class="col-xs-3">
                <label for="weight">Lizenzablaufdatum</label>
                <input class="form-control date" type="text" name="license_exp" id="license_exp"
                       {% if user is defined and user.licenseExpiration is not null %}value="{{ user.licenseExpiration|date('d.m.Y') }}"{% endif %}/>

            </div>
        </div>
        <div class="form-group col-xs-12">
            <div class="col-xs-6">
                <label for="emergency_contact">Notfallkontakt</label>
                <input class="form-control" type="text" id="emergency_contact" name="emergency_contact"
                       {% if user is defined %}value="{{ user.emergencyContact }}"{% endif %}/>
            </div>
            <div class="col-xs-6">
                <label for="emergency_number">Telefonnummer</label>
                <input class="form-control" type="text" id="emergency_number" name="emergency_number"
                       {% if user is defined %}value="{{ user.emergencyNumber }}"{% endif %} />
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-12">
                <label for="weight">IBAN</label>
                <input class="form-control" type="text" name="iban" id="iban"
                       {% if user is defined and user.iban %}value="{{ user.iban }}"{% endif %}/>

            </div>
        </div>

        <div class="form-group">
            <div class="col-xs-12">
                <label for="qualifications">Befähigungen</label>
                <ul id="qualifications">
                    {% if user is defined %}
                        {% for qualification in user.qualifications %}
                            <li>{{ qualification.name }}</li>
                        {% endfor %}
                    {% endif %}

                </ul>
                <input type="hidden" name="qualification_tags[]"/>
            </div>
        </div>
        {% if user is defined %}
            {% if user.disclaimerDate is null or user.disclaimerDate <  firstDayOfYear %}

                Enthaftung abgelaufen<br />
            {% endif %}
            {% if user.reserve is null or user.reserve < date('- 365days') %}
                Reserve abgelaufen<br />
            {% endif %}
        {% endif %}

        <div class="clearfix"></div>
        <button type="submit" class="btn btn-default">Speichern</button>


    </form>

{% endblock %}

{% block javascripts %}
    <script>
        $('#document').ready(function () {
            {% if errors is defined %} {% for error in errors %}
            addNote("{{ error }}");
            {% endfor %}{% endif %}
            $('.date').datepicker();
            var valid_tags = [
                {% for quali in qualifications %}
                "{{ quali.name }}",
                {% endfor %}

            ];
            $('#qualifications').tagit({
                showAutocompleteOnFocus: true,
                fieldName: "qualification_tags[]",
                availableTags: valid_tags,
                beforeTagAdded: function (event, ui) {
                    if (jQuery.inArray(ui.tagLabel, valid_tags) == -1) {

                        return false;
                    }
                    return true;
                }
            });
        });
    </script>
{% endblock %}

