{% extends 'base.html.twig' %}



{% block body %}
    <input class="form-control selectwidthauto pull-left" type="text" id="search"
           {% if search is defined %}value="{{ search }}"{% endif %}/>

    <button id="submit_search" class="btn btn-default pull-left">Suchen</button>

    <select class="form-control selectwidthauto pull-right" id="filter">
        <option value="0" {% if filter == 0 %}selected{% endif %}>Alle</option>
        <option value="1" {% if filter == 1 %}selected{% endif %}>Springer</option>
        <option value="2" {% if filter == 2 %}selected{% endif %}>Tandemgäste</option>
    </select>
    <table class="table table-responsive table-striped">
        <thead>
        <tr>
            <th>Nachname</th>
            <th>Vorname</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.lastName }}</td>
                <td>{{ user.firstName }}</td>
                <td><a href="/user/edit/{{ user.id }}">Bearbeiten</a></td>
                <td>{% if user.isGuest == false and ((user.licenseExpiration is not null and user.licenseExpiration < date()) or (user.disclaimerDate is null  or user.disclaimerDate < firstDayOfYear) or (user.reserve is null or user.reserve < date('-365days'))) %}
                        <span class="glyphicon glyphicon-remove"></span>{% endif %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <ul class="pagination">
        {% if search is defined %}
            {% set searchpath = "/"~search %}
        {% else %}
            {% set searchpath = "" %}
        {% endif %}


        {% for i in 1..pages %}
            <li {% if page == i %}class="active"{% endif %}><a
                        href="/user/overview{{ searchpath }}/{{ filter }}/{{ i }}">{{ i }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}
{% block javascripts %}
    <script>
        $(document).ready(function () {
            $('#submit_search').click(function () {
                document.location.href = "/user/overview/" + $('#search').val() + "/{{ filter }}/1";
            });

            $('#filter').change(function () {
                document.location.href = "/user/overview/{{ search }}/" + $(this).val() + "/1";
            });
        });
    </script>
{% endblock %}

