{% extends 'base.html.twig' %}



{% block body %}
    <span style="font-size:20px;">Gutschriftserzeugung für {{ creditor.firstName }} {{ creditor.lastName }}</span>
    <form action="/document/credit/create/" method="post">
        <input type="hidden" name="creditor" value="{{ creditor.id }}"/>

        <table class="table table-hover table-striped">
            <thead>
            <tr>
                <th></th>
                <th>Datum</th>
                <th>Load #</th>
                <th>Sprungtyp</th>
                <th class="col-right">Preis</th>
                <th>Miete</th>

            </tr>
            </thead>
            <tbody>
            {% for key,uncredit in uncreditSeats %}
                <tr>
                    <td><input type="checkbox" name="c_{{ key }}"/></td>
                    <td>{{ uncredit.jumpGroup.load.created|date("d.m.Y") }}</td>
                    <td>{{ uncredit.jumpGroup.load|loadOfTheDay }}</td>
                    <td>{{ uncredit.salaryType.name }}</td>
                    <td class="col-right">{{ uncredit.salaryType.credit|number_format(2,",","") }} €</td>


                <td>{% if uncredit.jumpGroup.rent is not null and uncredit.jumpGroup.rent.user == creditor and uncredit.jumpGroup.rent.rentType.price < 0%}
                        {{ uncredit.jumpGroup.rent.rentType.price|abs|number_format(2,",","") }} €
                    {% endif %}</td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
        {% include "document/payment_type_select.html.twig" %}
        <div class="form-group">
            <label for="ust"><input type="checkbox" id="ust" name="ust"/> Mit Umsatzsteuer </label>
        </div>
        <input class="btn btn-default" type="submit" value="Erstellen"/>

    </form>






{% endblock %}

{% block javascripts %}
    <script>

    </script>
{% endblock %}

