
{% extends 'base.html.twig' %}



{% block body %}

    <table class="table table-hover table-striped">
        <thead>
        <tr>

            <th>Datum</th>
            <th>Springer</th>
            <th class="col-right">Summe</th>
            <th>Zahlungsart</th>
            <th></th>

            <th></th>
            <th></th>



        </tr>
        </thead>
        <tbody>
        {%  for position in positions %}
            <tr>
                <td>{{ position.created|date("d.m.Y") }}</td>
                <td>{{ position.payer.firstName }} {{ position.payer.lastName }}</td>
                <td class="col-right">{{ position.sum|number_format(2,",","") }} €</td>
                <td>{{ position.paymentType }}</td>
                <td><a href="/invoice/show/{{ position.id }}">Ansehen</a></td>
                <td>{% if position.cleared == false %}Zahlung ausstehend{% endif %}</td>
                <td>{% if position.cleared == false %}<a href="/document/invoice/clear/{{ position.id }}">Ist bezahlt</a>{% endif %}</td>
                <td>{% if position.cleared == false %}<a href="/document/invoice/storno/{{ position.id }}">Storno</a>{% endif %}</td>
            </tr>
        {%  endfor %}

        </tbody>
    </table>


<ul class="pagination">

    {% for i in 1..pages %}
        <li {% if page == i %}class="active"{% endif %}><a href="/document/{{ type }}/overview/{{ filter }}/{{ i }}" >{{ i }}</a></li>
    {% endfor %}
</ul>


{% endblock %}

{% block javascripts %}
    <script>

    </script>
{% endblock %}

