
{% extends 'base.html.twig' %}



{% block body %}

    <table class="table table-hover table-striped">
        <thead>
        <tr>
            <th>Springer-Name</th>

        </tr>
        </thead>
        <tbody>
        {%  for payer in payers %}
            <tr>
                <td><a href="/document/{{ type }}/jumper/{{ payer.id }}">{{ payer.firstName }}</a></td>

            </tr>
        {%  endfor %}

        </tbody>
    </table>







{% endblock %}

{% block javascripts %}
    <script>

    </script>
{% endblock %}

