<select class="form-control selectwidthauto" name="payment_type">
    <option value="cash">Barzahlung</option>
    <option value="sepa">Lastschrift</option>
    <option value="transfer">Überweisung</option>
</select>