    {% extends 'base.html.twig' %}



{% block body %}
    <span style="font-size:20px;">Rechungserzeugung für {{ payer.firstName }} {{ payer.lastName }}</span>
    <form action="/document/payment/create/" method="post">
        <input type="hidden" name="payer" value="{{ payer.id }}"/>
        <table class="table table-hover table-striped">
            <thead>
            <tr>

                <th>Datum</th>
                <th>Load #</th>
                <th>Sprungtyp</th>

                <th class="col-right">Preis</th>
                <th>Miete</th>
            </tr>
            </thead>
            <tbody>
            {% for jumpGroup in unpaidJumpGroups %}
                <tr>
                    <td>{{ jumpGroup.load.created|date("d.m.Y") }}</td>
                    <td>{{ jumpGroup.load|loadOfTheDay }}</td>
                    <td>{{ jumpGroup.jumptype.name }}{% if payer.isMember and jumpGroup.jumpType.memberDiscount > 0 %} (Mitglied) {% endif %}</td>
                    {% set price = jumpGroup.jumpType.price %}
                    {% if payer.isMember %}
                        {% set price = price - jumpGroup.jumpType.memberDiscount %}

                    {% endif %}
                    <td class="col-right">{{ price|number_format(2,",","") }} €</td>
                    <td>{% if jumpGroup.rent is not null and jumpGroup.rent.user == payer and jumpGroup.rent.rentType.price > 0%}
                   {{ jumpGroup.rent.rentType.price|number_format(2,",","") }} €
                    {% endif %}</td>
                </tr>
                {% if jumpGroup.voucher is not null %}
                    <tr>
                        <td>{{ jumpGroup.load.created|date("d.m.Y") }}</td>
                        <td>{{ jumpGroup.load|loadOfTheDay }}</td>
                        <td>Gutschein: {{ jumpGroup.voucher.number }}</td>
                        {% set price = jumpGroup.voucher.value %}

                        <td class="col-right">- {{ price|number_format(2,",","") }} €</td>

                    </tr>

                {% endif %}
            {% endfor %}

            {% for prepaidGroup in unpaidPrepaidGroups %}
                <tr>
                    <td>{{ prepaidGroup.buyedAt|date("d.m.Y") }}</td>
                    <td>-</td>
                    <td>{{ prepaidGroup.prepaidTypeGroup.name }}</td>
                    <td class="col-right">{{ prepaidGroup.prepaidTypeGroup.price|number_format(2,",","") }} €</td>


                </tr>
            {% endfor %}


            </tbody>
        </table>

        {% include "document/payment_type_select.html.twig" %}
        <input class="btn btn-default" type="submit" value="Erstellen"/>


    </form>

{% endblock %}

{% block javascripts %}
    <script>

    </script>
{% endblock %}

