{% extends 'base.html.twig' %}



{% block body %}
    {% set cnt = 0 %}
{% for load in loads %}
    {% if cnt < 3 %}
        {% set cnt = cnt +1 %}
        {% set seatno = 0 %}
        <div style="float:left; width:30%; height:500px; border: #000 solid 1px;">
            Load: {{ load|loadOfTheDay }}<br />
            {% if load.scheduledStart is not null %}Startzeit: {{ load.scheduledStart|date("H:i") }}, Einstieg in {{ load.scheduledStart|minutesUntil }} min{% endif %}
            {% set background = "#CCCCCC" %}
            <table class="table">
            {% for jumpGroup in load.jumpGroups %}
                {% set firstRow = true %}
                {% if background == "#DDDDDD" %}
                    {% set background = "#CCCCCC" %}
                {% else %}
                    {% set background = "#DDDDDD" %}
                {% endif %}
                {% for user in jumpGroup|getUsers %}
                    {% set seatno = seatno +1 %}

                    <tr style="background-color:{{ background }}; ">
                        <td>{{ seatno }}</td>
                        <td>{{ user.firstName }} {{ user.lastName }} {% if user.isGuest %}(Gast){% endif %}</td>
                        <td>{{ jumpGroup.jumpType.name }}</td>

                    </tr>

                    {% set firstRow = false %}
                {% endfor %}
            {% endfor %}
            </table>
        </div>
    {% endif %}
{% endfor %}

{% endblock %}
{% block javascripts %}
<script>
    $(document).ready(function () {
        $('#navbar').hide();
        setInterval(function(){ location.reload() }, 3000);

    });
    </script>
    {% endblock %}

