{% extends 'base.html.twig' %}



{% block body %}
    <form action="/voucher/create" method="post">
        <div class="form-group">

            <label for="jumper">Käufer:</label>
            <input class="form-control selectwidthauto"  type="text" name="jumper" id="jumper" required="required"/>
            <input  type="hidden" name="jumper_id" id="jumper_id"/>

        </div>
        <div class="form-group">

            <label for="voucher">Gutschein:</label>
           <select class="form-control selectwidthauto" name="voucher" id="voucher">
            {%  for voucherType in voucherTypes %}
            <option value="{{ voucherType.id }}">{{ voucherType.name }} ({{ voucherType.price|number_format(2,",","") }} €)</option>
            {% endfor %}
           </select>

        </div>
        <input class="btn btn-default" type="submit" value="Erzeugen" />
    </form>

{% endblock %}
{% block javascripts %}
<script>
    $(document).ready(function(){

        var chosenJumper;
      var  availableJumpers = [

            {% for user in users %}
            { value: {{ user.id }}, label: '{{ user.firstName }} {{ user.lastName }}'   },
            {% endfor %}
         ];

            $( "#jumper" ).autocomplete({
                source: availableJumpers,
                select: function (event, ui) {
                    $("#jumper").val(ui.item.label);
                    $("#jumper_id").val(ui.item.value);
                    chosenJumper = ui.item.label;



                },
                close: function(event, ui){
                    $('#jumper').val(chosenJumper);
                }

            }).focus(function(){
                $(this).autocomplete("search", $(this).val().length == 0? " " :$(this).val());
            });


    });
</script>

{% endblock %}