{% extends 'base.html.twig' %}



{% block body %}
    <input type="text" class="form-control selectwidthauto" id="jumper"
           value="{% if jumper is not null %}{{ jumper.firstName }} {{ jumper.lastName }}{% endif %}"/>{% if jumper is not null %}
    <a href="/voucher/overview">Filter löschen</a>{% endif %}
    <table class="table table-striped table-responsive">
        <thead>
        <tr>
            <th>Eingelöst am</th>
            <th>In Load</th>
            <th>Nummer</th>
            <th>Name d. Springers</th>

            <th>Wert</th>
            <th></th>

        </tr>
        </thead>
        <tbody>
        {% for voucher in vouchers %}
            <tr>
                <td>{{ voucher.jumpGroup.load.created|date("d.m.Y H:i") }}</td>
                <td><a href="/load/edit/{{ voucher.jumpGroup.load.id }}">{{ voucher.jumpGroup.load|loadOfTheDay }}</a></td>

                <td>{{ voucher.number }}</td>
                <td>{{ voucher.jumpGroup.payer.firstName }} {{ voucher.jumpGroup.payer.lastName }}</td>
                <td>{{ voucher.value|number_format(2,",","") }} €</td>


            </tr>

        {% endfor %}
        </tbody>
    </table>
    <ul class="pagination">


        {% for i in 1..pages %}
            <li {% if page == i %}class="active"{% endif %}><a
                        href="/voucher/overview/{% if jumper is not null %}{{ jumper.id }}/{% endif %}{{ i }}">{{ i }}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
{% block javascripts %}
    <script>
    $(document).ready(function(){
       $('.code_hover').mouseenter(function(){

           $(this).find(".code_content").html($(this).attr("data-target"));
       }).mouseleave(function(){
           $(this).find(".code_content").html("Anzeigen");
       });



        var availableJumpers = [

            {% for user in jumpers %}
            {value: {{ user.id }}, label: '{{ user.firstName }} {{ user.lastName }}'},
            {% endfor %}
        ];
        var chosenJumper;
        $("#jumper").autocomplete({
            source: availableJumpers,
            select: function (event, ui) {
                chosenJumper = ui.item.label;
                document.location.href = "/voucher/overview/" + ui.item.value + "/{{ page }}";


            },
            close: function (event, ui) {
                $('#jumper').val(chosenJumper);
            }

        }).focus(function () {
            $(this).autocomplete("search", $(this).val().length == 0 ? " " : $(this).val());
        });




    });
    </script>

{% endblock %}