{% extends 'base.html.twig' %}



{% block body %}
    <form action="/cash/change/{{ type }}" method="post">
    <div class="form-group">

            <label for="zip">{% if type == "take" %}Entnahme aus Kasse{% else %}Hinzufügen zur Kasse{% endif %}</label>
            <input class="form-control amount selectwidthauto"  type="text" name="value" required="required"/>


    </div>
    <input class="btn btn-default" type="submit" value="Speichern" />
    </form>
    {% if type == "take" %}

    {% endif %}

{% endblock %}


