
{% extends 'base.html.twig' %}



{% block body %}

<table class="table table-responsive table-striped">
    <thead>
        <tr>
            <th>Summe</th>
            <th>Typ</th>
            <th>Datum</th>
            <th>Durchgeführt von</th>
        </tr>
    </thead>
    <tbody>
    {% for debit in debits %}
        <tr>
            <td>{{ debit.sum|abs|number_format(2, ',', '') }} €</td>
            <td>{% if debit.sum < 0 %}Entnahme{% else %}Zuführung{% endif %}</td>
            <td>{{ debit.created|date("d.m.Y") }}</td>
            <td> {{ debit.loginUser.firstName }} {{ debit.loginUser.lastName }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
    <div> <b>Kassenstand: {{ balance|number_format(2, ',', '') }} €</b></div>
<ul class="pagination">



    {% for i in 1..pages %}
        <li {% if page == i %}class="active"{% endif %}><a href="/cash/overview/{{ i }}" >{{ i }}</a></li>
    {% endfor %}
</ul>
{% endblock %}


